@model CyberCareServices.Model.Customer

@{
    ViewData["Title"] = "Edit Customer";
}

<h1>Edit</h1>
<hr />
<form asp-action="Edit">
    <input type="hidden" asp-for="CustomerId" />
    <div class="form-group">
        <label asp-for="FullName" class="control-label"></label>
        <input asp-for="FullName" class="form-control textarea-custom" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Address" class="control-label"></label>
        <input asp-for="Address" class="form-control textarea-custom" />
        <span asp-validation-for="Address" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone" class="control-label"></label>
        <input asp-for="Phone" class="form-control textarea-custom" />
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DiscountAvailable" class="control-label"></label>
        <input asp-for="DiscountAvailable" type="checkbox" class="checkbox-custom" />
        <span asp-validation-for="DiscountAvailable" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DiscountAmount" class="control-label"></label>
        <input asp-for="DiscountAmount" class="form-control textarea-custom" />
        <span asp-validation-for="DiscountAmount" class="text-danger"></span>
    </div>
    <div class="form-group btn-center">
        <input type="submit" value="Save" class="page page-primary save-btn" />
    </div>
</form>

<div>
    <a asp-action="Index" class="page page-primary backtolist-btn"><i class="bi bi-arrow-left"></i>  Back to List  <i class="bi bi-arrow-left"></i></a>
</div>
