/* forms.css */

/* ========== Фокус на элементах форм и кнопках ========== */
.btn:focus,
.btn:active:focus,
.form-control:focus,
.form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.form-group {
    margin: 10px 20px;
}

.textarea-custom
{
    background-color: #7D060F;
    color: #fdf0d5;
    transition: 0.2s ease;
    border-radius: 0px;
    border: 1px solid #fdf0d5;
}

.textarea-custom:focus {
    background-color: #fdf0d5;
    color: #7D060F;
    box-shadow: 0 0 8px black;
    border-color: #7D060F;
}

.d23 {
    height: 20px;
    width: 300px; /* Сделали шире */
    margin: 0 auto; /* Выровняли по центру */
    background: #7D060F; /* Цвет изменён на красный */
    position: relative;
}

    .d23:before {
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        left: 0;
        top: 20px; /* Смещаем треугольник вниз */
        border-top: 20px solid #7D060F; /* Цвет изменён на красный */
        border-left: 150px solid transparent; /* Сделали шире */
        border-right: 150px solid transparent; /* Сделали шире */
        z-index: -1;
    }
