@model CyberCareServices.ViewModels.ComponentEditViewModel

@{
    ViewData["Title"] = "Create Component";
}

<h1>Create Component</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="ComponentType" class="control-label"></label>
        <select asp-for="ComponentType" class="


textarea-custom" asp-items="@(new SelectList(Model.ComponentTypes, "Name", "Name"))">
            <option value="">Select Component Type</option>
        </select>
        <span asp-validation-for="ComponentType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Brand" class="control-label"></label>
        <input asp-for="Brand" class="form-control textarea-custom" />
        <span asp-validation-for="Brand" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Manufacturer" class="control-label"></label>
        <input asp-for="Manufacturer" class="form-control textarea-custom" />
        <span asp-validation-for="Manufacturer" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="CountryOfOrigin" class="control-label"></label>
        <input asp-for="CountryOfOrigin" class="form-control textarea-custom" />
        <span asp-validation-for="CountryOfOrigin" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ReleaseDate" class="control-label"></label>
        <input asp-for="ReleaseDate" class="form-control textarea-custom" type="date" />
        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Specifications" class="control-label"></label>
        <textarea asp-for="Specifications" class="form-control textarea-custom"></textarea>
        <span asp-validation-for="Specifications" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="WarrantyPeriod" class="control-label"></label>
        <input asp-for="WarrantyPeriod" class="form-control textarea-custom" />
        <span asp-validation-for="WarrantyPeriod" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea asp-for="Description" class="form-control textarea-custom"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price" class="control-label"></label>
        <input asp-for="Price" class="form-control textarea-custom" type="number" step="0.01" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="page page-primary" />
    </div>
</form>

<div>
    <a asp-action="Index" class="page page-primary backtolist-btn"><i class="bi bi-arrow-left"></i> Back to List <i class="bi bi-arrow-left"></i></a>
</div>